// =============================================================================
// SCSS/SITE/STACKS/INTEGRITY/_TABLES.SCSS
// -----------------------------------------------------------------------------
// Tables for - you guessed it - tabular data.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
// =============================================================================

// Base Styles
// =============================================================================

table {
  width: 100%;
  margin-bottom: $baseMargin;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $tableBackground;

  th,
  td {
    padding: 0.5em 0.625em;
    line-height: 1.3;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid $tableBorder;
  }

  th {
    font-weight: bold;
  }

  td {
    line-height: 1.4;
  }

  thead th {
    vertical-align: bottom;
  }

  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  tbody + tbody {
    border-top: 2px solid $tableBorder;
  }
}