/* =============================================================================
// CSS/ADMIN/ADDONS.CSS
// -----------------------------------------------------------------------------
// Styles for addons.
// ========================================================================== */

/* =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Home
//   02. Header
//   03. Extensions
//   04. Postboxes
// ========================================================================== */

/* Home
// ========================================================================== */

.x-addons-home-header {
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.85);
}

.x-addons-home-header:before,
.x-addons-home-header:after {
  content: "";
  display: table;
}

.x-addons-home-header:after {
  clear: both;
}

.x-addons-home-header-text {
  float: left;
  width: calc(100% - 200px);
}

.x-addons-home h1 {
  margin-right: 0;
  font-weight: 700;
  letter-spacing: -0.035em;
}

.x-addons-home .about-text {
  margin-right: 0;
  margin-bottom: 0;
}

.x-addons-home .about-text strong {
  color: #222;
}

.x-addons-home .x-badge {
  float: right;
  margin: 12px 0 0;
  padding: 45px 0;
  width: 165px;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  background-color: #23282d;
}

.x-addons-home .x-badge .text {
  font-weight: 300;
  line-height: 1;
}

.x-addons-home .x-badge .version {
  margin-top: 10px;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
}

.x-addons-home .changelog {
  margin: 0 0 100px;
}

.x-addons-home .changelog h3 {
  margin: 0 0 25px;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
}

.x-addons-home .changelog h4 {
  margin: 0 0 10px;
  line-height: 1.2;
}

.x-addons-home .changelog .feature-section {
  margin: 0 0 50px;
  padding: 0 0 40px;
  overflow: visible;
}

.x-addons-home .changelog .feature-section:before,
.x-addons-home .changelog .feature-section:after {
  content: "";
  display: table;
}

.x-addons-home .changelog .feature-section:after {
  clear: both;
}

.x-addons-home .changelog .feature-section:last-child,
.x-addons-home .changelog .feature-section > div p:last-child {
  margin-bottom: 0;
}

.button.x-addons-home-register-button {
  display: block;
  height: 64px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  font-size: 28px;
  font-weight: 300;
  line-height: 58px;
  text-align: center;
}

@media screen and (max-width: 782px) {
  .about-wrap .feature-section.one-col > div,
  .about-wrap .feature-section.three-col > div,
  .about-wrap .feature-section.two-col > div {
    margin: 0 0 25px;
    padding: 0 0 25px;
  }
}

@media only screen and (max-width: 600px) {
  .x-addons-home-header-text {
    float: none;
    width: 100%;
    text-align: center;
  }

  .x-addons-home .x-badge {
    clear: both;
    float: none;
    display: block;
    width: 100%;
    margin: 30px 0 0;
    padding: 25px 0;
  }
}

@media only screen and (max-width: 450px) {
  .x-addons-home h1 {
    font-size: 2.35em;
  }
}



/* Header
// ========================================================================== */

.x-addons-header {
  margin: 35px 6.5% 40px;
  text-align: center;
}

.x-addons-header h2 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.1;
}

.x-addons-header > p {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.3;
  color: #777;
}

.x-addons-header div.error,
.x-addons-header div.updated {
  margin: 25px 0;
}

.x-addons-header div.error p,
.x-addons-header div.updated p {
  font-size: 18px;
}


/*
// Responsive styles.
*/

@media screen and (max-width: 500px) {
  .x-addons-header h2 {
    font-size: 36px;
  }
}



/* Extensions
// ========================================================================== */

/*
// List.
*/

.x-addons-extensions-list {
  max-width: 1400px;
  margin: 0 auto;
  list-style: none;
}


/*
// Individual extension.
*/

.x-addons-extension {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

div.x-addons-extension {
  width: 100%;
  margin: 0 auto 20px;
}

li.x-addons-extension {
  width: calc(33.3333% - 14px);
  margin: 0 20px 20px 0;
  float: left;
}

li.x-addons-extension:nth-child(3n) {
  margin-right: 0;
}

li.x-addons-extension:nth-child(3n+1) {
  clear: both;
}

.x-addons-extension.active {
  border-color: #7ad03a;
}


/*
// Extension top.
*/

.x-addons-extension .top {
  position: relative;
  padding: 20px;
  text-align: center;
}

li.x-addons-extension .top {
  min-height: 345px;
}

.x-addons-extension .img {
  width: 100px;
  margin: 0 0 1em;
  border-radius: 3px;
}

.x-addons-extension .info {
  margin: 0;
}

.x-addons-extension .title {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.x-addons-extension .status {
  display: inline-block;
  margin: 1em 0 0;
  border: 1px solid;
  padding: 6px 7px;
  line-height: 1;
  border-radius: 3px;
}

.x-addons-extension .status.active {
  color: #fff;
  border-color: #7ad03a;
  background-color: #7ad03a;
}

div.x-addons-extension .desc {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.x-addons-extension .author {
  margin-bottom: 0;
}


/*
// Extension bottom.
*/

.x-addons-extension .bottom {
  clear: both;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  padding: 10px;
  text-align: center;
  background-color: #fafafa;
}

.x-addons-extension .bottom > .button {
  margin-bottom: 0;
}


/*
// Responsive styles.
*/

@media (max-width: 1080px) {
  li.x-addons-extension {
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
  }

  li.x-addons-extension:nth-child(3n) {
    margin-right: 20px;
  }

  li.x-addons-extension:nth-child(3n+1) {
    clear: none;
  }

  li.x-addons-extension:nth-child(2n) {
    margin-right: 0;
  }

  li.x-addons-extension:nth-child(2n+1) {
    clear: both;
  }
}

@media (max-width: 700px) {
  li.x-addons-extension .top {
    min-height: 1px;
  }

  li.x-addons-extension,
  li.x-addons-extension:nth-child(2n),
  li.x-addons-extension:nth-child(3n),
  div.x-addons-extension {
    float: none;
    width: 100%;
    margin: 0 0 10px;
  }

  li.x-addons-extension:nth-child(2n+1),
  li.x-addons-extension:nth-child(3n+1) {
    clear: none;
  }
}



/* Postboxes
// ========================================================================== */

/*
// Postbox container.
*/

.x-addons-postboxes:before,
.x-addons-postboxes:after {
  content: "";
  display: table;
}

.x-addons-postboxes:after {
  clear: both;
}


/*
// Individual postbox.
*/

.x-addons-postbox {
  float: left;
  width: calc(33.3333% - 14px);
  margin: 0 20px 20px 0;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.x-addons-postboxes .x-addons-postbox:nth-of-type(3n) {
  margin-right: 0;
}

.x-addons-postbox .title {
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}

.x-addons-postbox .inside {
  padding: 12px;
}

.x-addons-postbox p:first-of-type {
  margin-top: 0;
}

.x-addons-postbox p.submit {
  margin-bottom: 0;
  padding: 0;
  text-align: inherit;
}

.x-addons-postbox input[type="submit"] {
  margin-bottom: 0;
}


/*
// Page specific styles - customizer manager.
*/

.x-addons-customizer-manager .x-addons-postboxes {
  max-width: 1400px;
  margin: 0 auto;
}

.x-addons-postbox.customizer-manager .title .dashicons {
  width: 19px;
  height: 19px;
  font-size: 19px;
}

.x-addons-postbox.customizer-manager.import input[type="file"] {
  margin: 3px 0;
  font-size: 13px;
  line-height: 1;
}

.x-addons-postbox.customizer-manager.reset input[type="checkbox"] {
  margin: 0 0 3px 5px;
}


/*
// Page specific styles - product validation.
*/

.x-addons-postbox.product-validation {
  float: none;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.x-addons-postbox.product-validation .inside {
  padding: 35px;
}

.x-addons-postbox.product-validation p {
  margin: 0;
}

.x-addons-postbox.product-validation input[type="text"] {
  margin: 0 0 20px;
  width: 100%;
  font-size: 32px;
  text-align: center;
}

.x-addons-postbox.product-validation input[type="submit"] {
  height: 42px;
  margin: 0;
  padding: 0 15px 2px;
  font-size: 18px;
  font-weight: 300;
}

.x-product-validation-info {
  margin: 15px 10% 0;
  text-align: center;
}


/*
// Page specific styles - demo content.
*/

.x-addons-postbox.demo-content {
  float: none;
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  position: relative;
}

.x-addons-postbox.demo-content .inside {
  padding: 0;
}

.x-addons-postbox.demo-content .controls {
  display: table;
  width: 100%;
}

.x-addons-postbox.demo-content .controls .control {
  display: table-cell;
  width: 50%;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 25px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.x-addons-postbox.demo-content .controls .control:first-child {
  border-right: 1px solid #e5e5e5;
}

.x-addons-postbox.demo-content .controls .control.full {
  width: 100%;
  border-right: 0;
}

.x-addons-postbox.demo-content h3 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.x-addons-postbox.demo-content h3 + p {
  margin: 7px 0 15px;
  font-size: 12px;
}

.x-addons-postbox.demo-content select {
  width: 100%;
  margin: 0;
}

.x-addons-postbox.demo-content select + p {
  margin: 15px 0 0;
}

.x-addons-postbox.demo-content .radio-label {
  display: block;
  margin: 0 0 5px;
}

.x-addons-postbox.demo-content .radio-label:last-child {
  margin: 0;
}

.x-addons-postbox.demo-content p.submit {
  padding: 15px 0 16px;
  text-align: center;
  background-color: #fafafa;
}

.x-addons-postbox.demo-content .message {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  margin: 0 auto;
  max-width: 300px;
  padding: 25px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}

.x-addons-postbox.demo-content .message span {
  display: block;
  margin-bottom: 16px;
  line-height: 1.4;
}

.x-addons-postbox.demo-content .message span:last-child {
  margin-bottom: 0;
}

/*
////////////////////////////////////////
*/

.progress-outer {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999999999;
}

.progress-inner {
  display: table-cell;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.progress-content {
  opacity: 1;
  -webkit-transition: all 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition: all 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.progress-content-title {
  margin: 0 0 25px;
  padding: 0;
  font-size: 28px;
  font-size: 24px;
  font-weight: 300;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
}

.progress-content-bar-outer {
  overflow: hidden;
  height: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}

.progress-content-bar-inner {
  height: 10px;
  background-color: #0074a2;
  border-radius: 3px;
  -webkit-transition: width 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition: width 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.progress-complete {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -90px auto 0;
  opacity: 0;
  -webkit-transition: all 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition: all 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.progress-complete-icon.dashicons {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  font-size: 150px;
  color: #0074a2;
  -webkit-transition: all 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition: all 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transform: rotate(-540deg);
      -ms-transform: rotate(-540deg);
          transform: rotate(-540deg);
}

.progress-complete-title {
  margin: -35px 0 0;
  padding: 0;
  font-size: 28px;
  font-size: 24px;
  font-weight: 300;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
}

.complete .progress-content {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.complete .progress-complete {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.complete .progress-complete-icon.dashicons {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*
////////////////////////////////////////
*/


/*
// Responsive styles.
*/

@media (max-width: 1080px) {
  .x-addons-postbox {
    float: left;
    width: 100%;
    margin: 0 0 20px;
  }
}

@media (max-width: 782px) {
  .x-addons-postbox {
    margin: 0 0 10px;
  }

  .x-addons-postbox.demo-content .controls,
  .x-addons-postbox.demo-content .controls .control:first-child {
    display: block;
    width: 100%;
  }

  .x-addons-postbox.demo-content .controls .control:first-child {
    border-right: 0;
  }
}